* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login_page {
    background-color: #ffff;
    width: 81%;
    max-width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;

}
/* .circle_1 {
    background-color: #ffff;
    width: 81%;
    max-width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;

} */
 
.login_page form {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.login_page form h1 {
    color: #ffff;
    margin-bottom: 3rem;
}

.login-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}