@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    display: flex;

}


a{
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    color: #333;
    padding: 0.5rem 1rem;
    transition: all 1s ease;
    
}

.active:hover{
    background-color: #a69dba;
    color: #5c48ee;
}
a:hover{
    transition: all 1s ease;
    color: #5c48ee;
}
/* li:not(:last-child):hover{
    transition: all 1s ease;
    color: #5c48ee;
} */
a.active{
    background-color: #5c48ee;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    
}

.section_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1.3rem;
    height: 100px;
    align-items: center;

    
}


nav {
    display: flex;
    gap: 1.3rem;
   
}

.logo_nav {
font-size: 1.5rem;
font-weight: 1000;
color: #5c48ee;
}


 img{
    width: 100%;
    max-width: 300px;
 }

 .section_content_header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    margin: auto;
    gap: 5rem;
 }
.left_content_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
 .right_content_header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    place-content: center;
 }

 h1{
    font-size: 3rem;
    width: 100%;
    line-height: 3.5rem;
 }
 h1 span:nth-child(1){
    font-weight: 400;
 }
 h1 span:nth-child(2){
    font-weight: 700;
 }
 h1 span:nth-child(3){
    font-weight: 700;
    color: #5c48ee;
 }

 .left_content_header p{
    margin: 1rem;
    color: #333333;
 }

 input{
    border: none;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 0.8rem;
    max-width: 300px;
    width: 100%;
    outline: 0;
 }

 form {
    display: flex;
    align-items: center;
    width: 100%;
 }

button{
border: none;
background-color: #5c48ee;
color: #fff;
padding: 1rem;
white-space: nowrap;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
    
